<div class="stepper-panel">
    <div class="indicator-panel">
        <ng-container *ngFor="let child of children; let last = last; let index = index">
            <div class="indicator" [ngClass]="selected === index ? 'selected' : selected < index ? 'non-selected' : 'done'">
                <div class="indicator-shadow"></div>
                <div class="lighting">{{ child.title }}</div>
            </div>
            <hr class="connector" [ngClass]="selected > index ? 'done' : 'non-selected'" *ngIf="!last" />
        </ng-container>
    </div>
    <hr class="connector" />
    <div #viewport class="viewport">
        <ng-content select="step" />
    </div>
    <button (click)="step()">Step it up</button>
</div>
