<div class="relative flex justify-center items-center w-28 select-none"
    style="perspective: 240px; transform-style: preserve-3d;">
    <div class="w-16 h-16 rounded-full overflow-clip bg-blue-700">
        <div
            class="flex w-[140%] h-[140%] bg-radial-gradient from-white/70 to-white/0 -translate-x-[25%] -translate-y-[25%]">
        </div>
    </div>
    <div #renderer class="absolute rotation flex items-center justify-center">
        <div class="absolute" *ngFor="let item of increasing(text); let index = index"
            [style.transform]="'rotateY(' + (item.previousWidths + calculateWidth(item.letter) / 2) * 2 + 'deg) translateZ(3rem)'">
            {{ text.at(index) }}
        </div>
    </div>
</div>