@keyframes rotation {
    0% {
        transform: rotateX(-10deg) rotateY(0deg);
    }

    100% {
        transform: rotateX(-10deg) rotateY(-360deg);
    }
}

.rotation {
    transform-style: preserve-3d;
    animation: rotation 6s linear infinite;
}