<div class="showcase">
    <h1>Welcome to the Showcase</h1>

    <div class="panel">
        <h1>Welcome to the Showcase</h1>
        <div style="display: flex">
            <orbiting-text
                [animatedTooltip]="{
                    title: 'Dünya',
                    description: 'Dünya dönmüyor yazı dönüyor'
                }"
                text="Yörünge etrafında dönen yazı"
            ></orbiting-text>
            <odometer-input
                style="margin-right: 2rem"
                [animatedTooltip]="{
                    title: 'Sayaç',
                    description: 'Bu bir numara sayacıdır'
                }"
            ></odometer-input>
            <odometer-input
                style="margin-right: 2rem"
                [animatedTooltip]="{
                    title: 'Sayaç',
                    description: 'Bu bir numara sayacıdır'
                }"
            ></odometer-input>
            <odometer-input
                style="margin-right: 2rem"
                [animatedTooltip]="{
                    title: 'Sayaç',
                    description: 'Bu bir numara sayacıdır'
                }"
            ></odometer-input>
        </div>
    </div>
    <stepper [selected]="0">
        <step title="Register">1st content</step>
        <step title="Login">2nd content</step>
        <step title="Payment">3rd content</step>
        <step title="Finish">4th content</step>
    </stepper>
</div>
