.showcase {
    width: 100%;
    height: 100%;
}

h2 {
    text-align: center;
}

input {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
}

.composite>input {
    border: none;
    border-radius: 2.5px;
    margin-bottom: 0;
}

.composite>input:focus {

}

.composite {
    display: flex;
    align-items: center;
    width: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: gray;
    border-radius: 2.5px;
    margin-bottom: 0.5rem;
}

.half {
    display: inline-block;
    width: 50%;

}
