@keyframes rotation {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(-360deg);
    }
}

.contraption {
    transform-style: preserve-3d;
    /* animation: rotation 6s linear; */
}