<div class="parent">
    <div #odometer class="odometer" draggable="true" (dragstart)="dragStart($event)" (dragend)="dragEnd()"
        (drag)="dragEvent($event)">
        <div [style.--mouse-offset]="-(mouseOffset % 45) + 'deg'" class="rotator">
            <div *ngFor="let x of [-2, -1, 0, 1, 2]" [style.--selected]="x===0 ? 1 : 0"
                [style.--panel-rotation]="(-x * 45)" class="panel">
                {{ range[(selectedIndex + x + range.length) % range.length] }}
            </div>
        </div>
    </div>
</div>