@keyframes rotation {
    from {
        transform: rotateX(0deg);
    }

    to {
        transform: rotateX(-360deg);
    }
}

.parent {
    transform-style: preserve-3d;
}

.perspective {
    perspective: 240px;
}

.animat {
    animation: rotation 6s linear;
}